
#minimize:hover	{-fx-fill : white;}

#maximize:hover	{-fx-fill : white;}

#close:hover	{-fx-fill : white;}

#btnInvoice {
	-fx-text-fill		 :  #d0cece;
	-fx-background-color : #222A35;
} 

#btnInvoice:hover{
   
    -fx-background-color	: #238de3 ;
    -fx-text-fill			: black ;
    -fx-cursor				: hand ;
}

#btnDashboard {
	-fx-text-fill		 :  #d0cece;
	-fx-background-color : #222A35;
} 

#btnDashboard:hover{
   
    -fx-background-color	: #238de3 ;
    -fx-text-fill			: black ;
    -fx-cursor				: hand ;
}

#btnStatistics {
	-fx-text-fill :  #d0cece;
	-fx-background-color : #222A35;
	
} 

#btnStatistics:hover{
   
    -fx-background-color	: #238de3 ;
    -fx-text-fill			: black ;
    -fx-cursor				: hand ;
}

#btnTransaction {
	-fx-text-fill :  #d0cece;
	-fx-background-color : #222A35;
	
} 

#btnTransaction:hover{
   
    -fx-background-color	: #238de3 ;
    -fx-text-fill			: black ;
    -fx-cursor				: hand ;
}

#btnBooks {
	-fx-text-fill		 :  #d0cece;
	-fx-background-color : #222A35;
} 

#btnBooks:hover{
   
    -fx-background-color	: #238de3 ;
    -fx-text-fill			: black ;
    -fx-cursor				: hand ;
}


#btnAccount {
	-fx-text-fill 		 :  #d0cece;
	-fx-background-color :  #8497B0;
} 

#btnAccount:hover{
   
    -fx-background-color	: #238de3 ;
    -fx-text-fill			: black ;
    -fx-cursor				: hand ;
}

#btnLogout {
	-fx-text-fill 		 :  #d0cece;
	-fx-background-color : #222A35;
	
} 

#btnLogout:hover{
   
    -fx-background-color	: #238de3 ;
    -fx-text-fill			: black ;
    -fx-cursor				: hand ;
}


#btnSubmit		{
	-fx-background-radius : 8;
	-fx-background-color : #333F50 ;
	-fx-text-fill		 : #d0cece ;
	-fx-effect :  dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#btnSubmit:hover{
   
    -fx-background-color	: #238de3 ;
    -fx-text-fill			: black ;
    -fx-cursor				: hand ;
}

#btnPic		{
	-fx-background-radius : 8;
	-fx-background-color : #333F50 ;
	-fx-text-fill		 : #d0cece ;
	-fx-effect :  dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#btnPic:hover{
   
    -fx-background-color	: #238de3 ;
    -fx-text-fill			: black ;
    -fx-cursor				: hand ;
}

